PUBLIC_URL=https://florentinainn.site
CORS_ORIGINS=
HOTEL_TIMEZONE=Asia/Manila
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=5001
EDGE_NETWORK=

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/florentinaInn?retryWrites=true&w=majority
MONGODB_DATABASE=florentinaInn

JWT_SECRET=

PAYMONGO_SECRET_KEY=
STRIPE_SECRET_KEY=

BREVO_API_KEY=
EMAIL_SENDER_NAME="Noreply - Florentina Inn"
EMAIL_SENDER_ADDRESS=
EMAIL_SANDBOX=false
HOTEL_ADMIN_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=
